:root {
  --body-bg: #0d1117;
  --navbar-bg: #161b22;
  --orange: #ec5e0a;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--white);
  background-color: var(--body-bg);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.navbar {
  padding: 10px 0;
  background-color: var(--navbar-bg);
}

.navbar > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: var(--white);
  text-decoration: none;
}

.navbar a:hover {
  color: var(--orange);
}

.navbar .playground-link {
  display: flex;
  align-items: center;
}

.navbar .playground-link > h3 {
  padding-right: 10px;
}

.graphql-svg {
  width: 35px;
  height: auto;
}

.navbar .playground-link:hover > .graphql-svg > g > path {
  fill: var(--orange);
}

.github-svg {
  width: 45px;
  height: auto;
}

.github-svg:hover > g > path {
  fill: var(--orange);
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
